{% extends 'base.html.twig' %}

{% block title %}Hello GateauController!{% endblock %}

{% block body %}



        <div class="border border-dark row">

            <h3>{{ gateau.name }}</h3>
            <p><strong>{{ gateau.description }}</strong></p>
            <div class="border border-dark m-5">
                {%for ingredient in gateau.ingredients %}

                    <p> - {{ ingredient.name }}</p>

                    {% endfor %}
            </div>

        </div>


{% endblock %}
